
  .tno {
      background-color: #ffffff;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 20%;
      left: 15px;
      border: 2px solid #080808;
  }

  .tno:hover{
    background-color: #f79595;
  }

  

  .tyes {
    background-color: #ffffff;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 20%;
      border: 2px solid #101111;
  }


  .tyes:hover{
    background-color: #97f866;
  }

  .rightBackground{
    margin-top: 3%;
    padding: 10px;
    width: 110px;
   
  }



  .wrongBackground{
    margin-top: 5%;
    padding: 20px;
    width: 100px;
   
  }

