body {
    background-image: url('https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=2000&t=st=1671644376~exp=1671644976~hmac=413831770e0188b784874f94285cba68bd3135cc4719e74f2632cc186d273d1b');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  