body {
  
  background-image: url('./assets/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right ;
  background-attachment:fixed;
}



@media (max-width: 2447px ) {
    body {
      background-size: 120%;
    }
  }

  @media (max-width: 1900px ) {
    body {
      background-size: 120%;
    }
  }

  @media (max-width: 1600px ) {
    body {
      background-size: 150%;
    }
  }



  @media (max-width: 1220px ) {
    body {
      background-size: 700%;
    }
  }

