


@media (max-width: 2447px ) {
    body {
      background-size: 120%;
    }
  }

  @media (max-width: 1900px ) {
    body {
      background-size: 120%;
    }
  }

  @media (max-width: 1600px ) {
    body {
      background-size: 150%;
    }
  }



  @media (max-width: 1220px ) {
    body {
      background-size: 700%;
    }
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
