<div id="wrapper"  [ngClass]="toogled ? 'toggled' : ''"> 


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a >
                   WF Planning
                </a>
            </li>
            <li>
                <a routerLink="/calendar" >Calendar</a>
            </li>
            <li>
                <a href="#">Next?</a>
            </li>
            <li>
                <a href="#">What have i done?</a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a  (click)="logOut()">Exit</a>
            </li>
          
           
          
        </ul>
    </div>
     <img  (click)="toogleMenu()" src="../../../assets/wf-logo.png" class="toogle" *ngIf="toogled" />
     <img (click)="toogleMenu()" src="../../../assets/wf-logo.png" class="sidebar-image" *ngIf="!toogled"/>
    

  
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
       
                </div>
            </div>
        </div>
    </div>
    

</div>
