<ng-container>

    <h1 mat-dialog-title class="text-center">{{eventValue.title | uppercase}}</h1>

    <div mat-dialog-content class="d-flex flex-row">
        <div class="p-3">
            <p>Title : <input [(ngModel)]="eventValue.title" disabled="true" /> </p>
            <p>Start Date : {{ eventValue.start | date:'medium'}} </p>
            <p>End Date: {{ eventValue.end |date:'medium'}}</p>
            <div class="text-center">
                <button type="button" class="btn btn-danger">delete</button>&nbsp;
                <button type="button" class="btn btn-info">Modify</button>
            </div>

        </div>

        <div class="p-3 bg-dark ">
            <p>heheassasaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <p>#TODO</p>
        </div>
    </div>


    <div mat-dialog-actions>
        <button mat-button class="btn my-btn" (click)="cancel()">Cancel</button>
        <button mat-button class="btn my-btn" (click)="submit()" cdkFocusInitial>Submit</button>
    </div>

</ng-container>